.example-spacer {
  flex: 1 1 auto;
}

.table{
  margin: 100px;
  width: 80%;

}


.space {
  margin-right: 10px; /* Adjust the margin as needed */
}

.action-button {
  margin: 0 7px; /* Add some spacing between the buttons */


}
