<mat-toolbar color="primary">
  <mat-drawer-container autosize style="background: #3F51B5">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-drawer-container>

  <span>Monitorador</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="openDialog()" class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    <mat-icon>library_add</mat-icon>
  </button>
  <button (click)="form = !form" mat-raised-button color="primary" class="example-icon"
          aria-label="Example icon-button with share icon">
    <mat-icon>filter_list</mat-icon>
  </button>

</mat-toolbar>

<mat-drawer #drawer mode="side">

  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-6 d-none d-sm-inline text-dark"> <mat-icon>keyboard_return</mat-icon></span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a routerLink="monitorador" class="nav-link align-middle px-0">
                <span class="ms-1 d-none d-sm-inline"><mat-icon>home</mat-icon></span>
              </a>
            </li>
            <li>
              <a routerLink="/endereco" class="nav-link px-0 align-middle">
                <span class="ms-1 d-none d-sm-inline"><mat-icon> location_on</mat-icon></span>
              </a>
            </li>

          </ul>
          <hr>
        </div>
      </div>

    </div>
  </div>
</mat-drawer>
<div style="display: flex; justify-content: center; margin-top:30px ">
  <form class="d-flex flex-wrap justify-content-center " *ngIf="form">

    <div class="fieldcontain col-lg-3 filtro space">
      <label>Código</label>
      <input type="text" placeholder="Código" class="form-control" pattern="[0-9]+$">
    </div>

    <div class="fieldcontain col-lg-3 filtro space">
      <label>Nome</label>
      <input type="text" placeholder="Nome" class="form-control">
    </div>

    <div class="fieldcontain col-lg-2 filtro space">
      <label>CPF</label>
      <input type="text" placeholder="CPF" class="form-control" minlength="11">
    </div>

  </form>

</div>

<div style="display: flex; justify-content: center; margin-top: 50px">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Código</th>
      <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome</th>
      <td mat-cell *matCellDef="let element"> {{ element.nome }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF</th>
      <td mat-cell *matCellDef="let element"> {{ element.cpf }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef class="cnpj-header"> CNPJ</th>
      <td mat-cell *matCellDef="let element" class="cnpj-cell"> {{ element.cnpj }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-header"> Ações</th>
      <td mat-cell *matCellDef="let element" class="actions-cell">
        <div class="button-container">
          <button mat-raised-button color="warn" class="action-button">Warn</button>
          <button mat-raised-button color="primary" class="action-button">Primary</button>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
