

<mat-toolbar color="primary">


  <span>Monitorador</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="openDialog()" class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    <mat-icon>library_add</mat-icon>
  </button>
  <button (click)="form = !form" mat-raised-button color="primary" class="example-icon"
          aria-label="Example icon-button with share icon">
    <mat-icon>filter_list</mat-icon>
  </button>

</mat-toolbar>
<div style="display: flex; justify-content: center; margin-top: 30px" *ngIf="form">
  <form class="d-flex flex-wrap justify-content-center" [formGroup]="formMonitoradorFilter">

    <div class="fieldcontain col-lg-2 filtro space">
      <label>Código</label>
      <input  type="text" placeholder="Código" class="form-control" pattern="[0-9]+$" formControlName="id"  name="id">
    </div>

    <div class="fieldcontain col-lg-2 filtro space">
      <label>Nome</label>
      <input type="text" placeholder="Nome" class="form-control"formControlName="nome" name="nome">
    </div>

    <div class="fieldcontain col-lg-2 filtro space">
      <label>CPF</label>
      <input type="text" placeholder="CPF" class="form-control"  formControlName="cpf" name="cpf" mask="000.000.000-00">
    </div>

    <div class="fieldcontain col-lg-2 filtro space">
      <label>CNPJ</label>
      <input type="text" placeholder="CNPJ" class="form-control" formControlName="cnpj" name="cnpj" mask="00.000.000/0000-00">
    </div>

    <button type="submit" mat-raised-button color="primary"  style="margin-top: 20px" [disabled]="isvalidForm()" (click)="ngOnInit()">Reset</button>
  </form>
</div>

<div  class="d-flex flex-row-reverse" style="margin-right: 15px; margin-top: 20px">
  <button mat-raised-button color="primary" (click)="ExportarPDF()">Exporta PDF</button>
  <button mat-raised-button  style="margin-right: 10px; " (click)="ExportarExcel()">Gerar Excel</button>
  <button mat-raised-button color="accent" style="margin-right: 10px;" (click)="ImportaExcel()">Importa Excel</button>
<!--  <button (click)="carregarMonitorador()">Botão</button>-->
</div>

<div style="display: flex; justify-content: center; margin-top: 50px">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Código</th>
      <td mat-cell *matCellDef="let element" > {{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome</th>
      <td mat-cell *matCellDef="let element"> {{ element.nome }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF</th>
      <td mat-cell *matCellDef="let element" class="table_cpf" > {{ element.cpf | mask: "000.000.000-00"}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef class="cnpj-header"> CNPJ</th>
      <td mat-cell *matCellDef="let element" class="cnpj-cell" > {{ element.cnpj | mask: "00.000.000/0000-00" }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-header"> Ações</th>
      <td mat-cell *matCellDef="let element" class="actions-cell">
        <div class="button-container">
          <button  mat-raised-button color="warn" class="action-button" (click)="DeletarMonitorador(element)">Deletar</button>
          <button (click)=" openDialogDetalhe(element)" mat-raised-button color="primary" class="action-button">Editar</button>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
